<div class="container">
  <br />
  <mat-form-field>
    <span matPrefix> </span>
    <input type="text" matInput name= "search" [(ngModel)]= "title">
    <mat-placeholder style="color:rgba(0, 0, 0, 0.685)">Movie name</mat-placeholder>
    <button matSuffix mat-button (click)="searchMovies()"><mat-icon >search</mat-icon></button>
    </mat-form-field>

  <mat-grid-list cols="5" rowHeight="1:2" *ngIf="movies$ | async as movies">
    <mat-grid-tile *ngFor="let movie of movies" (click)="openDetails(movie)">
      <mat-card>
        <img mat-card-image [src]="service.getPoster(movie)" />
        <mat-card-title>{{ showTitle(movie) }}</mat-card-title>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
