button {
  margin-left: 8px;
}

.mat-card {
  width: 258px;
  min-height: 450px;
  max-height: 470;
}

li {
  padding: 15px;
  display: inline-block;
}

ul {
  list-style: none;
}

li:hover {
  color: rgb(211, 211, 211);
  border-bottom: 3px solid rgb(255, 0, 0);
}
